@charset "utf-8";
/* CSS Document */

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
 	margin-bottom: 0;
	border-radius: 0;
}

html, body {
	display: block;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: gold;
}
#background {
	height: 100%;
	width: 100%;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 100%;
}

/* Set gray background color and 100% height */
.sidenav {
	padding-top: 20px;
	background-color: #f1f1f1;
	height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
	padding: 15px;
	background-color: #555;
	color: white;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}

/* album.html styles */
.largeImage img {
	margin-left: auto;
	margin-right: auto;
	margin-top: 8px;		
	border-style: solid;		
	border-width: 4px;		
	border-color: red;
}

.thumbnails img {
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: red;
}
